@charset "utf-8";
/* CSS Document */
body{
	background-color: #C999FF;
	position:absolute;
	z-index: -2;
}
.container{
	display: inline-block;
	position: absolute;
	height: 100vh;
	width:100vh;
	z-index: -1;
}