@charset "utf-8";
@import url("FontSetting.css");
@import url("BackGroundSetting.css");
/* CSS Document */
#Container{
	font-family: "Kyokasho";
	text-align: center;
}
#BG{
	display: inherit;
 	position: inherit;
    z-index: 0;
	width: 100vmin;
	height:100vmin;
}
#Title{
    position: inherit;
    display: inherit;
    top: 20%;
    width: 100%;
	height: 30vmin;
    color: brown;
    font-size:10vmin;
}
#StartButton{
	position: inherit;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1;
	top:70%;
}
#StartButton img{
	width: 80%;
}
#Document{
	position: inherit;
    display: inherit;
	text-align: right;
    top: 100%;
    width: 100%;
	transform: translateY(-100%);
	text-decoration: none;
	font-size:5vmin;
    color: wheat;
}
#Document:hover{
	color: aqua;
}
#Document:visited{
	color: wheat;
}
